body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: gray;
}

#heder {
    width: 40%;
    height: 80px;
    background-color: white;
    float: left;

}

#heder img {
    width: 11%;
    height: 65px;
    border-radius: 50px;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

#btn {
    display: none;
}

#list {
    width: 60%;
    height: 80px;
    background-color: white;
    float: right;
}

#list ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 3%;
    margin-top: 3.5%;

}

#list a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
}

/* apply media query for Responsive (mobile) */
@media only screen and (min-width:320px) and (max-width:480px) {
    #heder {
        width: 100%;
        height: auto;
        background-color: white;
    }

    #heder img {
        width: 18%;
        height: 60px;
        border-radius: 50px;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 0.5%;
    }

    #list-btn {
        width: 20%;
        height: auto;
        padding: 10px;
        margin-left: 75%;
        position: absolute;
        top: 3%;
    }

    #btn {
        margin: auto;
        display: block;
    }

    #btn span {
        font-size: 20px;
    }

    #list {
        display: none;
        width: 100%;
        height: auto;
        background-color: white;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        animation: slidein 1s ease-in-out;
    }

    @keyframes slidein {
        0% {
            transform: translateX(100%);
        }

        50% {
            transform: translateX(0);
        }
    }

    #list ul li {
        display: list-item;
        list-style-type: none;
        margin-left: 0;
        margin-top: 3%;
    }

    #list a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 0;
    }
}